In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
# Study data files

In [2]:
movies = ("rotten_tomatoes_movies.csv")
movie_data = pd.read_csv(movies)

movie_data.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [3]:
movie_data = movie_data.rename(columns={"rotten_tomatoes_link": "Link", "movie_title": "Movie Title",
                                       "movie_info": "Movie Info", "studio_name": "Studio", "tomatometer_status": "Tomatometer Status",
                                       "tomatometer_rating": "Tomatometer Rating", "in_theaters_date": "Theater Release", "audience_status": "Audience Status",
                                       "audience_rating": "Audience Rating", "audience_count": "Audience Count", "audience_top_critics_count": "Audience Top Critics Count",
                                       "audience_fresh_critics_count": " Audience Fresh Critics Count", "audience_rotten_critics_count": "Audience Rotten Critics Count"})
movie_data.head(3)

,Link,Movie Title,Movie Info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,Studio,Tomatometer Status,Tomatometer Rating,tomatometer_count,Audience Status,Audience Rating,Audience Count,Audience Top Critics Count,Audience Fresh Critics Count,Audience Rotten Critics Count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7

In [4]:
refined_movie_data = movie_data[["Movie Title", "Studio","Theater Release", "Tomatometer Status", "Tomatometer Rating", "Audience Status", "Audience Rating", "Audience Count"]]
refined_movie_data

,Movie Title,Studio,Theater Release,Tomatometer Status,Tomatometer Rating,Audience Status,Audience Rating,Audience Count
0,Percy Jackson & the Olympians: The Lightning T...,20th Century Fox,2010-02-12,Rotten,49,Spilled,53.0,254287.0
1,Please Give,Sony Pictures Classics,2010-04-30,Certified Fresh,86,Upright,64.0,11567.0
2,10,Waner Bros.,1979-10-05,Fresh,68,Spilled,53.0,14670.0
3,12 Angry Men (Twelve Angry Men),Criterion Collection,1957-04-13,Certified Fresh,100,Upright,97.0,105000.0
4,"20,000 Leagues Under The Sea",Disney,1954-01-01,Fresh,89,Upright,74.0,68860.0
...,...,...,...,...,...,...,...,...
16633,Zoot Suit,MCA Universal Home Video,1981-10-02,Rotten,56,Upright,74.0,1192.0
16634,Zootopia,Walt Disney Animation Studios,2016-03-04,Certified Fresh,97,Upright,92.0,100946.0
16635,Zorba the Greek,Fox,1964-12-17,Fresh,78,Upright,87.0,7126.0
16636,Zulu,Paramount Pictures,1964-06-17,Fresh,95,Upright,91.0,30170.0
16637,Zulu Dawn,Tango Entertainment,1979-12-14,Rotten,57,Upright,62.0,4464.0

In [11]:
Disney = refined_movie_data[(refined_movie_data["Studio"]== "Marvel Studios")]

Disney

,Movie Title,Studio,Theater Release,Tomatometer Status,Tomatometer Rating,Audience Status,Audience Rating,Audience Count
2900,Avengers: Endgame,Marvel Studios,2019-04-26,Certified Fresh,94,Upright,91.0,66152.0
3485,Black Panther,Marvel Studios,2018-02-16,Certified Fresh,97,Upright,79.0,88211.0
4083,Captain Marvel,Marvel Studios,2019-03-08,Certified Fresh,78,Spilled,53.0,92982.0